@{
  Layout = "_Layout";
}

@model Factory.Models.Machine

<h2>Are you sure you want to delete this Machine?</h2>

@Html.DisplayNameFor(model => model.Type): @Html.DisplayFor(model => model.Type)
@using (Html.BeginForm())
{
    <input type="submit" value="Delete" class="fancyBtn2" />
}

<p class="fancyBtn">@Html.ActionLink("Back to Machines", "Index", "Machines")</p>
<p class="fancyBtn">@Html.ActionLink("Back to Engineers", "Index", "Engineers")</p>