<div id="header">

<h1>DR. SILLYSTRINGZ</h1>
<p>AeroSpace Engineering & Mechanical Operations</p>
<h4>@Html.ActionLink("HOME", "Index", "Home") | @Html.ActionLink("VIEW ALL", "Index", "EngineerMachine") |  @Html.ActionLink("ENGINEERS", "Index", "Engineers")  |  @Html.ActionLink("MACHINES", "Index", "Machines") </h4>

</div>
