<div id="header">

<h1>DR. SILLYSTRINGZ</h1>
<h3>@Html.ActionLink("HOME", "Index", "Home") | @Html.ActionLink("ENGINEERS", "Index", "Engineers") | @Html.ActionLink("MACHINES", "Index", "Machines") </h3>

</div>