@{
  Layout = "_Layout";
}
<h2>WELCOME</h2>
<h3>Dr. SillyStringz Inc. is a proud NASA partner.</h3>
<hr />
<div class="card">
<h3>Get started by viewing and/or adding Engineers and Machines.</h3>
</div>
<hr />
<p class="fancyBtn">@Html.ActionLink("View or Add Machines", "Index", "Machines")</p>
<p class="fancyBtn">@Html.ActionLink("View or Add Engineers", "Index", "Engineers")</p>
