@{
  Layout = "_Layout";
}

<p class="fancyBtn">@Html.ActionLink("View or Add Machines", "Index", "Machines")</p>
<p class="fancyBtn">@Html.ActionLink("View or Add Engineers", "Index", "Engineers")</p>
